<!DOCTYPE html>
<html>
<head>
    <title>Reset Your Password</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>We received a request to reset the password for your GoStayPro account. Please click the link below to set a new password:</p>
    <p><a href="{{ reset_url }}">Reset Your Password</a></p>
    <p>This link will expire in 1 hour. If you did not request a password reset, you can safely ignore this email.</p>
    <hr>
    <p>&copy; {{ current_year }} GoStayPro. All rights reserved.</p>
</body>
</html>
